PackageName: {{ package.name }}
SPDXID: SPDXRef-{{ package.uuid }}
PackageComment: <text>PURL is pkg:supplier/%20Eclipse%20BlueChi/bluechi-agent@0.7.0  </text>
ExternalRef: PACKAGE-MANAGER purl pkg:supplier/%20Eclipse%20BlueChi/bluechi-agent@0.7.0
PackageVersion: {{ package.version }}
PackageSupplier: Organization:  Eclipse BlueChi
Relationship: SPDXRef-DOCUMENT DESCRIBES SPDXRef-c391e672-0652-f9a1-ceb8-2411d8e3d2c8
Relationship: SPDXRef-c391e672-0652-f9a1-ceb8-2411d8e3d2c8 CONTAINS NONE
PackageDownloadLocation: NOASSERTION
FilesAnalyzed: false
PackageLicenseConcluded: {{ package.licenses }}
PackageLicenseDeclared: {{ package.licenses }}
PackageCopyrightText: NOASSERTION
PackageHomePage: {{ package.homepage }}
